# For local MongoDB
MONGO_URI=mongodb://localhost:27017/loopu

# OR for MongoDB Atlas (example)
# MONGO_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/loopu?retryWrites=true&w=majority

FLASK_SECRET=change-me
